// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-app-loading-text: "";
$v-background-color: #444d50;
$v-focus-color: #07a9ca;
$v-focus-style: 0 0 3px 2px $v-focus-color;
$v-bevel-depth: 40%;
$v-gradient: v-linear 12%;
$v-border-radius: 10px;
$v-font-family: Roboto, sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
$v-shadow: 0 0 0 3px rgba(0,0,0,0.32), 0 1px 0 3px rgba(255,255,255,0.14);
$v-textfield-bevel: inset 0 2px 2px v-shade;

$v-textfield-shadow: $v-shadow;
$v-unit-size: 40px;
$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);
$v-component-group-spacing: 6px;

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .RED.v-button {
    @include valo-button-style($background-color: #ff1c29);
  }

  .BLUE.v-button  {
    @include valo-button-style($background-color: #322dff);
  }

  .MAGENTA.v-button {
    @include valo-button-style($background-color: #c341ff);
  }
  .GREEN.v-button {
    @include valo-button-style($background-color: #128e27);
  }
  .PINK.v-button {
    @include valo-button-style($background-color: #fcbaff);
  }

  .YELLOW.v-button {
    @include valo-button-style($background-color: #ffcf43);
  }


    //.v-caption {
    //  color: #ff1c29;
    //  font-size: 20px;
    //}


  //.v-tree-checkboxed .v-tree-node-caption-unchecked div span {
  //  background: url("images/unchecked.png") no-repeat;
  //  padding-left: 24px;
  //  //border-style:solid;
  //  //border-width:1px;
  //}
  //
  //.v-tree-checkboxed .v-tree-node-caption-checked div span {
  //  background: url("images/checked.png") no-repeat;
  //  padding-left: 24px;
  //  //border-style:solid;
  //  //border-width:1px;
  //}

  //.v-tree-node-caption-captiontree {
  //  //border: 1px solid #d8d9d9;
  //  background: #ef141b;
  //  //@include v-tree-style($background-color: #ffcf43);
  //  //@include border-radius(6px);
  //  //$v-font-size: 5px;
  //}

  //.v-caption-mystyle {
  //  font-size: 20px;
  //}

  .v-tree-node-caption-captiontree {
    font-size: 14px;
  }

  .mybarmenu .v-menubar-menuitem-highlight {
    background: #07a9ca; /* Dark blue */
  }

  .myCustomUploadTiny .v-button {
    @include valo-button-style($unit-size: $v-unit-size--tiny, $bevel: null, $shadow: null, $background-color: null, $font-size: $v-font-size--tiny, $font-weight: null);
  }

  .v-upload .v-button {
    @extend .v-button-link;
  }

  .upload-with-icon {
    height: 100%;
  }

  .upload-with-icon div {
    height: 100%;
  }

  .upload-with-icon .v-button {
    background-image: url('browse.png');
    background-repeat: no-repeat;
    background-size: 15px 14px;
    background-position: left;
  }

}
